.wrapper{
    min-height: 100%;
}
h1{
    text-align: center;
    margin: 100px !important;
}

#mynav{
    padding: 12px !important;
}

td{
    word-wrap: break-word !important;
}
.footer {
    height: 128px; /* .push must be the same height as .footer */
}