.wrapper{
  min-height: 100%;
}
form{
    margin: 20px auto;
    width: fit-content;
    padding: 30px;
    border: 3px solid #f1f1f1;
  }

  input{
    height: fit-content;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  

  .footer {
    height: 128px; /* .push must be the same height as .footer */
}